@import "tailwindcss";

html{
  @apply text-xs w-full
}

body{
    @apply text-white bg-black w-fit
}
h1{
    @apply text-base sm:text-xl md:text-2xl lg:text-4xl
}
.cover {
  @apply w-full
}
.div{
@apply p-5 w-fit
}
.icon {
  @apply w-5 h-5 lg:w-7 lg:h-7 inline
}
    

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}