@import "tailwindcss";

html{
  @apply text-xs w-full
}

body{
    @apply text-white bg-black w-full
}
h1{
    @apply text-xl sm:text-xl md:text-2xl lg:text-4xl
}
.cover {
  @apply w-full
}
.div{
@apply p-5 md:w-3/5 w-4/5
}
.icon {
  @apply w-5 h-5 lg:w-7 lg:h-7 inline
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.chat::-webkit-scrollbar {
  width: 0px;
}

.chat::-webkit-scrollbar-track {
}

.chat::-webkit-scrollbar-thumb {

}